@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0%;
    width: 100%;
    background-color: #F5F5F5;
}

.logoetitulo {
    background-color: #F1BBDD;
    text-align: center;
    padding: 10px 40px;
}


img {
    text-align: center;
    border-radius: 10px;
}

#navSuperior{
    width: 95%;
    margin: 10px auto auto auto;
}

.listaMenu {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itensLista {
    border: 5px solid #46878F;
    border-radius: 5px;
    text-decoration: none;
    width: 23.5%;
    height: 45px;
    background-color: #46878F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itensLista:hover{
    opacity: 0.75;
}

.itensLista:active{
    opacity: 0.8;
    font-weight: bold;
}

.linksLista {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 100px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.linksLista:hover{
    opacity: 0.75; 
}

.linksLista:active{
    color: white;
    opacity: 0.8;
    font-weight: bold;
}
#titulo{
    display: block;
    margin: 1vh auto;
    font-size:30px ;
    width: 80%;
    font-family: 'Montserrat', sans-serif;

    
}
.textos{
    display: block;
    width: 55%;
    margin-top: 3%;
    margin-left: 10%;
    text-justify:auto;
    font-family: 'Montserrat', sans-serif; 
}

#blocogrande{
    text-justify: distribute;
}



footer{
    border-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}

.rodape {
    width: auto; 
    background-color: #F1BBDD;
    margin: 45px 0px 10px 0;
    padding: 45px 0 45px 0;
    margin-top: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.tabela{
    width: 90%;
    margin: 0 auto 0 auto;
    font-size: 15px;
}

.cedulas{
    width: 33%;
    vertical-align: top;
    text-align: center;
    align-items: start;

}

.estilo{
    color: white;
    text-align: center;
}
.estilo1{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;

}

.invisivel{
    color:#F1BBDD;
}

.link-colorido {
    color: #46878F;
}

#faixa ul {
    margin-top: 15px;
    display: flex;
    color: white;
    padding-left: 150px;

}

#faixa ul li {
    list-style-type: disc;
    padding-right: 200px;
}