#corpo{
    width: 1024px;
    height: 768px;
    margin: 0px auto;
    border: 1px solid black;
}

/* cor lilas = #C0BBFC */

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0BBFC;
    width: 950px;
    height: 15vh;
    margin: auto auto 2vh auto;
}

#navSuperior{
    width: 950px;
    margin: auto;
}

.listaMenu{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2vh;
}

.itensLista{
    position:relative;
    display: inline;
    list-style-type: square;
    border: 1px solid black;
    border-radius: 5px;
    width: 30vh;
    height: auto;
    text-align: center;
}

.linksLista{
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 2.5vh;
    color: green;
}

.linksLista:hover{
    background-color: #C0BBFC;
    color: white;
}

.itensLista:hover ul{
    display: block;
}

.itensLista ul li{
    border: 1px solid black;
    display: block;
    width: 30vh; 
}

.blocos{
    width: 950px;
    height: 40%;
    margin: 2vh auto;
}

#blocoEsquerdo{
    float: left;
    width: 74%;
    height: 100%;
    background-color: blue;
}

#blocoDireito{
    float: right;
    width: 24%;
    height: 100%;
    background-color: red;
}

.divCuriosidades{
    width: 950px;
    height: 20%;
    margin: 2vh auto;
    display: flex;
    gap: 5%;
}

.blocoCuriosidades{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.footer{
    background-color: red;
    width: 950px;
    height: 7%;
    margin: 0px auto;
}