
.logoetitulo{
    background-color: #DB95F4;
    text-align: center;
    padding: 10px 40px; /* Ajuste o preenchimento conforme necessário */
}


img{
     text-align: center;
}

.listaMenu{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2vh;
}

.itensLista{
	display: flex;
    justify-content: center;
	align-items: center;
	vertical-align: middle;
    border: 5px solid #C0BBFC;
    width: 110vh;
    height: 6vh;
	background-color: #C0BBFC;
}
.linksLista{
    font-family: Times, "Times New Roman", Georgia, serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
	vertical-align: middle;
}

.blocos{
    display: inline-block;  
}

#blocoEsquerdo{
    float: left;
    width: 1115px;
    height: 500px;
    margin-top: 12px;
    border-top: solid 5px;
    border-right: solid 5px;
    border-bottom: solid 5px;
    border-left: solid 5px;
    border-color: #C0BBFC;
    background-color: white;
}

#blocoDireito{
    float: right;
    width: 355px;
    height: 500px;
    margin-top: 12px;
    margin-left: 12px;
    border-top: solid 5px;
    border-right: solid 5px;
    border-bottom: solid 5px;
    border-left: solid 5px;
    border-color: #C0BBFC;
    background-color: white;
}

.divCuriosidades{
    display: inline-block; 
    display: flex;
    gap: 2vh; 
}


.blocoCuriosidades{
    display: flex;
    justify-content: center;
	align-items: center;
	vertical-align: middle;
    margin-top: 6px;
    margin-bottom: 10px;
    width: 500px;
    height: 300px;
	background-color: #E6A8E7;
}

.footer{
    background-color:#DB95F4;
    padding: 55px 40px;
    
}


