@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0%;
    width: 100%;
    background-color: #F5F5F5;
}

.logoetitulo {
    background-color: #F1BBDD;
    text-align: center;
    padding: 10px 40px;
}


img {
    text-align: center;
    border-radius: 10px;
}

#navSuperior{
    width: 95%;
    margin: 10px auto auto auto;
}

.listaMenu {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itensLista {
    border: 5px solid #46878F;
    border-radius: 5px;
    text-decoration: none;
    width: 23.5%;
    height: 45px;
    background-color: #46878F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itensLista:hover{
    opacity: 0.75;
}

.itensLista:active{
    opacity: 0.8;
    font-weight: bold;
}

.linksLista {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 100px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.linksLista:hover{
    opacity: 0.75; 
}

.linksLista:active{
    color: white;
    opacity: 0.8;
    font-weight: bold;
}

.imagem {
    margin-top: 12px;
    margin-left: 155px;
}

.blocos {
    display: flex;
    width: 95%;
    margin: 20px auto auto auto;
    gap: 100px;
    background-color: white;
    padding-bottom: 10px;
}

#blocoEsquerdo {
    font-family: 'Montserrat', sans-serif;
    float: left;
    width: 47%;
    height: 1120px;
    margin-left: 160px;
    background-color: white;
    border-radius: 10px;
}

.imgTerapia{
    width: 600px;
}

.carrossel-container {
    position: relative;
    width: 600px;
    margin: auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.botaoCarrossel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.botaoCarrossel:hover {
    background-color: #555;
}

#proximo{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#proximo:hover{
    background-color: #555;
}

#prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev:hover{
    background-color: #555;
}

#titulo {
    font-size: 20px;
    margin-left: 30px;
    color: #46878F;
    font-weight: bold
}

.conteudo {
    margin: 15px;
    text-indent: 17px;
}

.site {
    margin: 15px;
    text-indent: 17px;
    color: #d584f3;
    font-style: italic;
}

#exclusivo {
    font-weight: bold;
    color: red;
}

#blocoDireito {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    float: right;
    width: 47%;
    height: 1000px;
    margin-right: 40px;
    background-color: white;
}

#noticias {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 15px;
    text-align: center;
    color: #46878F;
    font-weight: bold
}

.corpo {
    margin: 15px;
    text-indent: 10px;
}



.divCuriosidades {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    gap: 2vh;
    width: 90%;
    margin: 20px auto auto auto;
}


.blocoCuriosidades {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 400px;
    height: 350px;
    background-color: #d4a6c9;
    padding-bottom: 10px;
}

.divConjunto{
    margin-top: 10px;
}

footer{
    border-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
}

.rodape {
    width: auto; 
    background-color: #F1BBDD;
    margin: 45px 0px 10px 0;
    padding: 45px 0 45px 0;
    margin-top: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.tabela{
    width: 90%;
    margin: 0 auto 0 auto;
    font-size: 15px;
}

.cedulas{
    width: 33%;
    vertical-align: top;
    text-align: center;
    align-items: start;

}


.estilo{
    color: white;
    text-align: center;
}

.estilo1{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;

}

.link-colorido {
    color: #46878F;
}

#faixa ul {
    margin-top: 15px;
    display: flex;
    color: white;
    padding-left: 150px;

}

#faixa ul li {
    list-style-type: disc;
    padding-right: 200px;
}

#video{
    width: 100%;
}
