@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0%;
    width: auto;
    background-color: #F5F5F5;
}

.logoetitulo {
    background-color: #F1BBDD;
    text-align: center;
    padding: 10px 40px;
}


img {
    text-align: center;
}

.imagemmack {
    margin-left: 0px;
    margin-top: 0px;
    filter: blur(0px);
    padding: 0%;
}

.container {
    position: relative;
    max-width: 100%;
}

.titulo {
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0%;
    left: 31%;
    transform: translate(-50%, -50%);
    color: #46878F;
    font-size: 25px;
    text-align: center;
}

#navSuperior {
    width: 95%;
    margin: 10px auto auto auto;
}

.listaMenu {
    padding: 0;
    display: flex;
    gap: 2vh;
}

.itensLista {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #46878F;
    border-radius: 5px;
    width: 110vh;
    height: 6vh;
    background-color: #46878F;
    cursor: pointer;
}

.itensLista:hover {
    opacity: 0.75;
}

.linksLista {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

.linksLista:hover {
    opacity: 0.75;
}

.linksLista:active {
    color: white;
    opacity: 0.8;
    font-weight: bold;
}
#subtitulo{
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px; 
    font-size: 25px;
    color: #46878F;
    font-weight: bold;
}
#conteudo{
    font-family: 'Montserrat', sans-serif;
    margin-left: 3%; 
    margin-right: 3%;
    margin-top: 2%;
}

#conteudo2{
    font-family: 'Montserrat', sans-serif;
    margin-left: 3%; 
    margin-right: 3%;
    margin-top: 2%;
}

#modalidades{
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px; 
    font-size: 20px;
    color: #46878F;
    font-weight: bold;
}

#lista{
    font-family: 'Montserrat', sans-serif;
    margin-left: 3%; 
    margin-right: 3%;
    margin-top: 2%;
}

.rodape {
    width: auto; 
    height: 200px; 
    background-color: #46878F;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

#detalhes{
    color: white;
    margin-top: 1%;
    font-size: 17px;
}

.rodape2 {
    width: auto; 
    height: 200px; 
    background-color: #F1BBDD;
    margin: 45px auto;
    padding: 35px;
    margin-top: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

.tabela{
    border-top: 0%;
    border-left: 50%;
}

.estilo{
    color: white;
    text-align: center;
}

.estilo1{
    color: #F1BBDD;
}

footer{
    border-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
}