@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0%;
    width: 100%;
    background-color: #F5F5F5;
}

.logoetitulo {
    background-color: #F1BBDD;
    text-align: center;
    padding: 10px 40px;
}


img {
    text-align: center;
    border-radius: 10px;
}

#navSuperior{
    width: 95%;
    margin: 10px auto auto auto;
}

.listaMenu {
    padding: 0;
    display: flex;
    gap: 2vh;
}

.itensLista {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #46878F;
    border-radius: 5px;
    width: 110vh;
    height: 6vh;
    background-color: #46878F;
    cursor: pointer;
}

.itensLista:hover{
    opacity: 0.75;
}

.linksLista {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

.linksLista:hover{
    opacity: 0.75; 
}

.linksLista:active{
    color: white;
    opacity: 0.8;
    font-weight: bold;
}

h1{
    color: #46878F;
}
.divTiposTerapia{
    margin: 1vh auto;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

.blocos{
    display: flex;
    margin-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
}

.tipos{
    margin-top: 0vh;
    width: 100%;
}

.figuras{
    width: 50%;
}

.sobre{
    width: 42%;
    text-align: justify;
    margin-left: 14vh;
    font-family: 'Montserrat', sans-serif;
}

.imagens{
    border-radius: 10px;
    width: 150px;
    height: 200px;
    margin-left: 14vh;
}

.textoParagrafo{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

footer{
    border-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
}

.rodape {
    width: auto; 
    height: 270px; 
    background-color: #F1BBDD;
    margin: 45px auto;
    padding: 35px;
    margin-top: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
.estilo{
    color: white;
    text-align: center;
}
.estilo1{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;

}

.invisivel{
    color:#F1BBDD;
}

.link-colorido {
    color: #46878F;
}

#faixa ul {
    margin-top: 15px;
    display: flex;
    color: white;
    padding-left: 150px;

}

#faixa ul li {
    list-style-type: disc;
    padding-right: 200px;
}

#avaliacao{
    margin-top: 20px;
}

.botaoAvaliacao{
    border: solid black 1px;
    color: white;
    border-radius: 5px;
    background-color: #46878F;
    cursor: pointer;
    margin-left: 5px;
}

.textoSugestao{
    font-size: 'Montserrat', sans-serif;
}

.inputSugestao{
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    width: 200px;
}

.botaoSugestao{
    background-color: #DB95F4;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}