        body {
            background: linear-gradient(white, #db95f4, #db95f4, white);
           
        }

        #imagem {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px;


        }

        .formulario {
            background-color: #2020205d;
            box-sizing: content-box;
            width: 35%;
            margin: auto;
            border: 3px none rgba(255, 255, 255, 0);
            border-radius: 10px;
            padding: 14px;
            text-align: center;
            color: rgb(0, 0, 0);
            opacity: .8;
            z-index: -1;
        }

        #titulo1 {
            display: block;
            width: 40%;
            margin: auto;
            background-color:#2020205d ;
            font-family: Times, "Times New Roman", Georgia, serif;
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 180%;
            opacity: .8;
            z-index: -1;
            border: 1px solid rgba(255, 255, 255, 0);
            border-radius: 10px;
           

        }


        .input1 {
            font-family: Times, "Times New Roman", Georgia, serif;
            display: flex;
            color: white;
            padding: 5px;
            font-size: 25px;
            text-align: center;





        }

        .input2 {
            font-family: Times, "Times New Roman", Georgia, serif;
            text-align: center;
            display: flex;
            color: white;
            font-size: 25px;

        }

        #bloco {
            font-family: Times, "Times New Roman", Georgia, serif;
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 25px;

        }

        .botao{
            position: relative;
            top: 50%;
            left: 85%;
            transform: translate(-50%, -50%);
          }
          
          a{
            display: block;
            width: 200px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            font-family: sans-serif;
            text-decoration: none;
            color: #333;
            border: 2px solid #333;
            letter-spacing: 2px;
            text-align: center;
            position: relative;
            transition: all .35s;
            border-radius: 10px;
          }
          
          a span{
            position: relative;
            z-index: 2;
          }
          
          a:after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #db95f4;
            transition: all .35s;
          }
          
          a:hover{
            color: #fff;
          }
          
          a:hover:after{
            width: 100%;
          }
   